.our-process{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.process-card{
    width: 60%;
    /* border: 1px solid black; */
    height:700px;
    
}
.process{
    margin-bottom: 50px;
    /* height:100%; */
    display: flex;
    gap:10%;
    /* border:1px solid black; */
}
.process .card{
    width: 30%;
    height: 100%;
    /* border: 1px solid black; */
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.process .card .circle1,.circle2,.circle3,.circle4,.circle5,.circle6{
    width: 80px !important;
    height: 80px !important;
    /* border: 1px solid black; */
    background-color: #004b97;
    border-radius: 50%;
    margin-bottom: 10%;
    background-image: url('css-sprites.png');

}
.process .card .circle1{
    background-position: 144px -268px;
}
.process .card .circle2{
    background-position: 279px -758px;
}
.process .card .circle3{
    background-position: -204px -158px;
}
.process .card .circle4{
    background-position: -689px 480px;
}
.process .card .circle5{
    background-position: -760px 413px;
}
.process .card .circle6{
    background-position: -896px 275px;
}


.process .card h3{
    font-family:inherit;
    font-weight: 500;
    margin-bottom: 5px;
    font-size: 22px;
    color: #333;
}
.process .card p{
    font-size: 18px;
    text-align: center;
    line-height: 1.6;
    color: #333;
    font-family: 'Open Sans';
    font-weight: 400;
}



@media (max-width:980px)
{
    .process-card{
        width: 100%;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    
    .process{
        width: 90%;
        gap:2%
    }
    .process-card .process .card{
        width: 100%;
        /* border: 1px solid black; */
    }

   
}
@media (max-width:780px) {
    .process-card{
        height: 110%;
        /* gap:50px; */
    }
    .process-card .process{
        display: flex;
        flex-direction: column;
        height: 90%;
        margin: 0;
        margin-bottom: 10%;
    }
    .process .card .circle1,.circle2,.circle3,.circle4,.circle5,.circle6{
        height: 100%;
    }
}